@font-face {
	font-family: 'Sligoil';
	src: url('./font/Sligoil-MicroBold.woff2') format('woff2');
	font-weight: bold;
}

html {
	font-family: 'Inter', sans-serif;
}
body {
	background: linear-gradient(#fff, #faffc8);
	height: 100%;
}
h1,
h2,
h3 {
	font-family: 'Sligoil', sans-serif;
	font-size: 3em;
	color: #333;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 2em;
}
