<footer id="footer">
	<div class="left">
		<nav>
			<ul>
				<li>About</li>
				<li>Organization</li>
				<li>
					<a href="https://designandai.nl/" target="_blank"
						>Design & AI Symposium</a
					>
				</li>
			</ul>
		</nav>
		<p>&copy; 2026 Design Education x AI Day</p>
	</div>
	<div class="right">
		<b>Partners</b>
		<ul>
			<li>Eindhoven University of Technology</li>
			<li>TU Delft</li>
			<li>University of Twente</li>
			<li>Wageningen University & Research</li>
			<li>Design United</li>
		</ul>
	</div>
</footer>
